<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product 2</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <!--Name-->
  <h1>Hydro Grip 12-Hour Hydrating Gel Skin Tint</h1>
</header>
<main>
  <img th:src="@{/uploads/4.jpg}" alt="gelskinimg" style="max-width:300px;">
  <!--Brand-->
  <h2>Milk Makeup</h2>
  <!--Category-->
  <h3>Face</h3>
  <!--Description-->
  <p>A clean non-comedogenic 12-hour hydrating gel skin tint with triple-powered hyaluronic acid and buildable light-to-medium coverage for a natural dewy finish.</p>
  <a th:href="@{/}">Back to Home</a>
</main>
<footer>
  <p>NOJAH Development Demo.</p>
</footer>
</body>
</html>