<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product 2</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <h1>Stay All Day Waterproof Liquid Eye Liner</h1>
</header>
<main>
  <img th:src="@{/images/eyeliner.jpg}" alt="eyelinerimg" style="max-width:300px;">
  <h2>Stila</h2>
  <h3>Eye</h3>
  <p>An easy-application, waterproof liquid liner that stays on all day and night.</p>
  <a th:href="@{/}">Back to Home</a>
</main>
<footer>
  <p>&copy; Created by Nimdula Perera.</p>
</footer>
</body>
</html>